set default=0
set timeout=5

# Universal console output configuration for UEFI/BIOS compatibility
terminal_input console
terminal_output console
set pager=1

menuentry "Requiem Live Installer" {
    search --set=root --file /live/filesystem.squashfs
    set gfxpayload=1024x768x32,auto
    linux /live/vmlinuz boot=live components live-media-path=/live username=root hostname=requiem nopersistence noeject rootwait console=tty0 quiet splash
    initrd /live/initrd.img
}

menuentry "Requiem Live Installer (Safe Graphics / Safe Mode)" {
    search --set=root --file /live/filesystem.squashfs
    set gfxpayload=keep
    linux /live/vmlinuz boot=live components live-media-path=/live username=root hostname=requiem nopersistence noeject rootwait console=tty0 quiet nomodeset nouveau.modeset=0 i915.modeset=1 radeon.modeset=0
    initrd /live/initrd.img
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}

