[Unit]
Description=Requiem Installer Service
After=systemd-user-sessions.service

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/xinit /root/.xinitrc -- -keeptty vt1
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
StandardInput=tty
Restart=no

[Install]
WantedBy=graphical.target
